body {
    background-color: black;
}

.header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    font-family: Verdana;
    font-weight: normal;
    color: white;
}

a {
    text-decoration: underline;
    color: aquamarine;
}
.download{
    font-family: sans-serif;
    font-size: 16px;
}